@{
    Layout = null;
}
@model Movie_Web.Models.LoginModel
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="~/Content/assets/css/base.css">
    <link rel="stylesheet" href="~/Content/assets/css/main.css">
    <link rel="stylesheet" href="~/Content/assets/css/grid.css">
    <link rel="stylesheet" href="~/Content/assets/css/responsive.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/assets/css/fontawesome-free-5.15.1/css/all.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/style.css">
    <title>Document</title>
</head>

<body style="background-color: #2b2b31;">
    @using (Html.BeginForm("SignUp", "Login", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, null, new { @class = "text-danger" })
        <div class="body_signin">
            <div class="container_signin">
                <div class="img_signin">
                    <a class="img_signin" href="#">
                        <img id="logo" src="~/Content/assets/img/logo.png" alt="#">
                    </a>

                </div>
                <div class="input_signin_group">
                    @Html.TextBoxFor(model => model.UserName, new { @class = "sign_input", @placeholder = "VD: username", @autofocus = "autofocus" })

                </div>
                <div class="input_signin_group">
                    @Html.TextBoxFor(model => model.Email, new { @class = "sign_input", @placeholder = "VD: email@domain.com", @autofocus = "autofocus" })
                </div>

                <div class="input_signin_group">
                    @Html.TextBoxFor(model => model.Password, new { @class = "sign_input", @placeholder = "Nhập mật khẩu", @type = "password" })
                </div>
                <div style="margin-top: 100px;">
                    <button class="sign_btn" type="submit">Đăng kí</button>
                </div>
                <div class="sign_text">
                    Bạn đã có tài khoản
                    <span><a href="/Login/Login">Đăng nhập!</a></span>

                </div>

                @*<div class="sign_text">
                        <span><a href="#">Trở về</a></span>
                    </div>*@
            </div>

        </div>
    }
</body>

</html>
