
@{
    ViewBag.Title = "Accounts";
    var jss = new System.Web.Script.Serialization.JavaScriptSerializer();
    var usernameInfor = jss.Serialize(ViewBag.listUsername);
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}



<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Tables</h1>
<p class="mb-4">
    
</p>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Accounts</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Email</th>
                        <th>Tên người dùng</th>
                        <th>Ngày tạo</th>
                        <th>Người tạo</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Email</th>
                        <th>Tên người dùng</th>
                        <th>Ngày tạo</th>
                        <th>Người tạo</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var account in ViewBag.listAcc)
                    {
                    <tr>
                        <th>@account.accountID</th>
                        <th>@account.email</th>
                        <th>@account.username</th>
                        <th>@account.createDate</th>
                        <th>@account.createBy</th>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
