
@{
    ViewBag.Title = "Films";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Tables</h1>
<p class="mb-4">

</p>

<!-- DataTales Example -->
<div class="card shadow mb-4">


    <div class="card-body">
        <div class="table-responsive">
            <div class="d-flex justify-content-end mb-3 mt-2">
                <!-- Button trigger modal insert film-->
                <div class="form-group mr-3">
                    <label for="movie">Phim</label>
                    <select id="movie" name="movie" class="form-control">
                        <option value="1" selected>--- Chọn ---</option>
                        <option value="2">Phim lẻ</option>
                        <option value="3">Phim bộ</option>
                    </select>
                </div>
                <a href="#" class="btn btn-primary btn-sm " id="add__film" style="height: 40px;margin-top: 30px;">
                    Thêm phim
                </a>

            </div>

            <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tên</th>
                        <th>Mô tả phim</th>
                        <th>Nội dung phim</th>
                        <th>Ngày ra mắt</th>
                        <th>Loại phim</th>
                        <th>Số tập / Tổng Tập</th>
                        <th>Chất lượng</th>
                        <th>Quốc gia</th>
                        <th>Thể loại</th>
                        <th>Ngày tạo</th>
                        <th>Người tạo</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Tên</th>
                        <th>Mô tả phim</th>
                        <th>Nội dung phim</th>
                        <th>Ngày ra mắt</th>
                        <th>Loại phim</th>
                        <th>Số tập / Tổng Tập</th>
                        <th>Chất lượng</th>
                        <th>Quốc gia</th>
                        <th>Thể loại</th>
                        <th>Ngày tạo</th>
                        <th>Người tạo</th>
                        <th>Actions</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var film in ViewBag.listFilm)
                    {
                        <tr>

                            @*<td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="filmIds[]" value="@film.filmID">
                                    </div>
                                </td>*@
                            <td><a href="/DetailFilm/Detail/@film.filmID">@film.filmID</a></td>
                            <td>
                                @if (@film.totalEpisodes == 1)
                                {
                                    <a href="/Admin/Admin/FilmLeInformation/@film.filmID">@film.nameFilm</a>
                                }
                                else
                                {
                                    <a href="/Admin/Admin/FilmBoInformation/@film.filmID">@film.nameFilm</a>
                                }

                            </td>
                            <td class="des-text"><p>@film.desText</p></td>
                            <td class="content-text"><p>@film.contentText</p></td>
                            <td>@film.releaseFilm</td>
                            <td>
                                @if (@film.totalEpisodes == 1)
                                {
                                    <span>Phim lẻ</span>
                                }
                                else
                                {
                                    <span>Phim bộ</span>
                                }
                            </td>
                            <td>@film.releasedEpisodes/@film.totalEpisodes</td>
                            <td>@film.quality</td>
                            <td>@film.nation</td>

                            <td>@film.genre</td>
                            <td>@film.createDate</td>
                            <td>@film.createBy</td>
                            <td style="display:flex;flex-direction:row;border-bottom:none">
                                @if (@film.totalEpisodes != 1 && @film.releasedEpisodes < @film.totalEpisodes)
                                {

                                    <a class="btn btn-link" href="/Admin/Admin/addFilmEpisode/@film.filmID"><i class="fas fa-plus-square"></i></a>
                                }
                                else if (@film.totalEpisodes != 1 && @film.releasedEpisodes == @film.totalEpisodes)
                                {

                                }
                                <a class="btn btn-link" href="/Admin/Admin/Edit/@film.filmID"><i class="fas fa-edit fs-3"></i></a>
                                <a id="delete-icon" class="btn btn-link text-danger" data-id="@film.filmID" data-toggle="modal" data-target="#exampleModal2"><i class="fas fa-trash fs-3"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- Modal delete -->
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Film</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="font-weight-bold">Bạn có thực sự muốn xóa phim này?</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" id="btn-delete-film" class="btn btn-danger">Delete</button>
            </div>

        </div>
    </div>
</div>

<form id="delete-film-form" action="" method="POST"></form>



<script>
    // ADD
    let today = new Date();
    var dd = String(today.getDate()).padStart(2, '0');
    var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
    var yyyy = today.getFullYear();

    today = yyyy + '-' + mm + '-' + dd
    console.log(today)
    //document.getElementById('createDate').value = today.toString()
    //document.getElementById('createBy').value = 'tututu'


    // delete


    document.addEventListener('DOMContentLoaded', function () {
        let ele = document.querySelector('#movie');
        let item = document.querySelector('#add__film');
        ele.onchange = () => {
            let val = ele.options[ele.selectedIndex].value;
            let value = parseInt(val);
            if (value === 1) {

            } else if (value === 2) {
                item.setAttribute('href', "/Admin/Admin/CreateFilmLe");
            } else {
                item.setAttribute('href', "/Admin/Admin/CreateFilmBo");
            }
        }
        var filmID;
        var deleteForm = document.forms['delete-film-form']
        var btnDeleteFilm = document.querySelector('#btn-delete-film');
        console.log(deleteForm);
        $('#exampleModal2').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            filmID = button.data('id')
        });
        btnDeleteFilm.onclick = function () {
            console.log(filmID);
            deleteForm.action = '/Admin/Admin/Delete/' + filmID;
            deleteForm.submit();
        }
    })






</script>
