
@{
    ViewBag.Title = "Films";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Tables</h1>
<p class="mb-4">

</p>

<!-- DataTales Example -->
<div class="card shadow mb-4">


    <div class="card-body">
        <div class="table-responsive">
            <div style="display:flex;justify-content:flex-end;">
                <button type="button" class="btn btn-primary mr-1">Thêm phim</button>
                <button type="button" class="btn btn-danger ml-1">Xóa phim đã chọn</button>
            </div>

            <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>Tên</th>
                        <th>Mô tả phim</th>
                        <th>Nội dung phim</th>
                        <th>Ngày ra mắt</th>
                        <th>Loại phim</th>
                        <th>Số tập / Tổng Tập</th>
                        <th>Chất lượng</th>
                        <th>Quốc gia</th>
                        <th>Thể loại</th>
                        <th>Ngày tạo</th>
                        <th>Người tạo</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Tên</th>
                        <th>Mô tả phim</th>
                        <th>Nội dung phim</th>
                        <th>Ngày ra mắt</th>
                        <th>Loại phim</th>
                        <th>Số tập / Tổng Tập</th>
                        <th>Chất lượng</th>
                        <th>Quốc gia</th>
                        <th>Thể loại</th>
                        <th>Ngày tạo</th>
                        <th>Người tạo</th>
                        <th>Actions</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var film in ViewBag.listFilm)
                    {
                        <tr>
                            <td>

                                @film.filmID<div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">

                            </td>
                            <td>@film.nameFilm</td>
                            <td class="des-text"><p>@film.desText</p></td>
                            <td class="content-text"><p>@film.contentText</p></td>
                            <td>@film.releaseFilm</td>
                            <td>
                                @if (@film.totalEpisodes == 1)
                                {
                                    <span>Phim lẻ</span>
                                }
                                else
                                {
                                    <span>Phim bộ</span>
                                }
                            </td>
                            <td>@film.releasedEpisodes/@film.totalEpisodes</td>
                            <td>@film.quality</td>
                            <td>@film.nation</td>

                            <td>@film.genre</td>
                            <td>@film.createDate</td>
                            <td>@film.createBy</td>
                            <th style="display:flex;flex-direction:row;border-bottom:none">
                                <button class="btn btn-link"><i class="fas fa-edit fs-3"></i></button>
                                <button class="btn btn-link"><i class="fas fa-trash fs-3"></i></button>
                            </th>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

