
@{
    ViewBag.Title = "Films";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Tables</h1>
<p class="mb-4">

</p>

<!-- DataTales Example -->
<div class="card shadow mb-4">


    <div class="card-body">
        <div class="table-responsive">
            <div class="d-flex justify-content-end mb-3">
                <button type="button" class="btn btn-primary" style="height:40px;margin-top:25px;margin-right:15px;">Thêm phim</button>
                <div class="mt-4 d-flex">
                    <div class="form-check" style="margin-top:10px;">
                        <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
                        <label class="form-check-label" for="checkbox-all">
                            Selected All
                        </label>
                    </div>

                    <select class="form-select-sm ml-2 mr-2" aria-label="Default select example">
                        <option selected>--- Chọn hành động ---</option>
                        <option value="delete">Xóa</option>
                    </select>

                    <button class="btn btn-primary disabled ">
                        Thực hiện
                    </button>
                </div>
            </div>

            <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>ID</th>
                        <th>Tên</th>
                        <th>Mô tả phim</th>
                        <th>Nội dung phim</th>
                        <th>Ngày ra mắt</th>
                        <th>Loại phim</th>
                        <th>Số tập / Tổng Tập</th>
                        <th>Chất lượng</th>
                        <th>Quốc gia</th>
                        <th>Thể loại</th>
                        <th>Ngày tạo</th>
                        <th>Người tạo</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>#</th>
                        <th>ID</th>
                        <th>Tên</th>
                        <th>Mô tả phim</th>
                        <th>Nội dung phim</th>
                        <th>Ngày ra mắt</th>
                        <th>Loại phim</th>
                        <th>Số tập / Tổng Tập</th>
                        <th>Chất lượng</th>
                        <th>Quốc gia</th>
                        <th>Thể loại</th>
                        <th>Ngày tạo</th>
                        <th>Người tạo</th>
                        <th>Actions</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var film in ViewBag.listFilm)
                    {
                        <tr>

                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="filmIds[]" value="@film.filmID">
                                </div>
                            </td>
                            <td>@film.filmID</td>
                            <td>@film.nameFilm</td>
                            <td class="des-text"><p>@film.desText</p></td>
                            <td class="content-text"><p>@film.contentText</p></td>
                            <td>@film.releaseFilm</td>
                            <td>
                                @if (@film.totalEpisodes == 1)
                                {
                                    <span>Phim lẻ</span>
                                }
                                else
                                {
                                    <span>Phim bộ</span>
                                }
                            </td>
                            <td>@film.releasedEpisodes/@film.totalEpisodes</td>
                            <td>@film.quality</td>
                            <td>@film.nation</td>

                            <td>@film.genre</td>
                            <td>@film.createDate</td>
                            <td>@film.createBy</td>
                            <th style="display:flex;flex-direction:row;border-bottom:none">
                                <button class="btn btn-link"><i class="fas fa-edit fs-3"></i></button>
                                <button class="btn btn-link"><i class="fas fa-trash fs-3"></i></button>
                            </th>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@*<script src="~/Scripts/jquery-3.4.1.min.js"></script>*@''
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var checkboxAll = document.querySelector('#checkbox-all');
        console.log(checkboxAll);
        var filmItemCheckbox = document.querySelectorAll('input[name="filmIds"]')
         var SelectItem = ('select[name="dataTable_length"]');


        //var checkboxAll = $('#checkbox-all');
        //console.log(checkboxAll)
        //var filmItemCheckbox = $('input[name="filmIds"]')
        //var SelectItem = $('select[name="dataTable_length"]');
        //console.log(SelectItem);
        //item.change(function () {
        //    //$(this).find(':selected').val;
        //    console.log('Hello');
        //})
        //// check box all click
        ////checkboxAll.on('change', function () {
        ////    var isCheckedAll = $(this).prop('checked');
        ////    console.log('Hello')
        ////})
        //checkboxAll.change(function () {
        //    var isCheckedAll = $(this).prop('checked');
        //    if (isCheckedAll) {

        //    }
        //    console.log(filmItemCheckbox);
        //})
    });
</script>
}



@*
    <script>
            document.addEventListener('DOMContentLoaded', function () {
                var checkboxAll = $('#checkbox-all');
                console.log(checkboxAll)
                var filmItemCheckbox = $('input[name="filmIds"]')
                var SelectItem = $('select[name="dataTable_length"]');
                console.log(SelectItem);
                item.change(function () {
                    //$(this).find(':selected').val;
                    console.log('Hello');
                })
                // check box all click
                //checkboxAll.on('change', function () {
                //    var isCheckedAll = $(this).prop('checked');
                //    console.log('Hello')
                //})
                checkboxAll.change(function () {
                    var isCheckedAll = $(this).prop('checked');
                    if (isCheckedAll) {

                    }
                    console.log(filmItemCheckbox);
                })
            });
        });



    </script>*@