
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Areas/Assets/Form/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Assets/Form/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Assets/Form/css/main.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Assets/Form/css/phimle.css" />
    <title>@ViewBag.filmDetail.nameFilm</title>
</head>
<body>
    <div class="container-contact100">
        <div class="wrap-contact100" style="width: 80%">
            <div class="row">
                <div class="infor">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-id="@ViewBag.filmDetail.filmID">
                        Edit Episodes
                    </button>
                    <div>
                        <span>Mô tả phim</span>
                        <p>
                            @ViewBag.filmDetail.desText
                        </p>
                    </div>
                    <div>
                        <span>Nội dung phim</span>
                        <p>
                            @ViewBag.filmDetail.contentText
                        </p>
                    </div>

                </div>

                <table class="table table-bordered">
                    List comments
                    <thead class="thead-dark">
                        <tr>
                            <th>Account</th>
                            <th>Comment</th>
                            <th>Send Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.FeedBackOfAcc)
                        {
                            <tr>
                                <td>@item.username</td>
                                <td>@item.cmt</td>
                                <td>@item.sentDate</td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Phim lẻ</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/Admin/Admin/UpdateFilmLe" method="post">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <div class="form-group wrap-input100 invisible d-none">
                                    <input type="text" class="form-control input100" id="filmEpID" name="filmEpID" value="@ViewBag.EpDetail.filmEpID">

                                    <span class="focus-input100"></span>
                                </div>
                                <div class="form-group wrap-input100 invisible d-none">
                                    <label for="filmID">filmID</label>
                                    <input type="text" class="form-control input100" id="filmID" name="filmID" value="@ViewBag.EpDetail.filmID">

                                    <span class="focus-input100"></span>
                                </div>
                                
                                <div class="form-group wrap-input100">
                                    <label for="linkEpisode">Link Episode</label>
                                    <input type="text" class="form-control input100" id="linkEpisode" name="linkEpisode" value="@ViewBag.EpDetail.linkEpisode">


                                    <span class="focus-input100"></span>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" id="btn-update-film" class="btn btn-primary">Update</button>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>
    <script src="~/Areas/Assets/vendor/jquery/jquery.min.js"></script>
    <script src="~/Areas/Assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
