
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section details">
    <div class="details__bg" data-bg="https://galaphim.net/images/img_thumb/bua-chu.small.webp" style="background: url(&quot;https://galaphim.net/images/img_thumb/bua-chu.small.webp&quot;) center center / cover no-repeat;"></div>
    <div class="container">
        <div class="grid wide">
            <div class="row">
                <div class="col l-12">
                    <ul class="section__breadcrumb">
                        <li class="section__breadcrumb__item">
                            <a href="#">
                                Trang chủ
                            </a>
                        </li>
                        <li class="section__breadcrumb__items section__breadcrumb__item__active">
                            @ViewBag.filmDetail.nameFilm
                        </li>
                    </ul>
                    <h1 class="details__title"> @ViewBag.filmDetail.nameFilm </h1>
                </div>
            </div>


            <div class="row">
                <div class="col l-8">
                    <!--
                        <div class="col l-8"> -->
                    <div class="grid">

                        <div class="row">

                            <div class="card card--details">
                                <div class="row no-gutters movie--meta">
                                    <div class="col l-4">
                                        <div class="card__cover">
                                            <center><img src="@ViewBag.filmDetail.linkImgAvt" class="card__cover-img" alt="@ViewBag.filmDetail.nameFilm" style=""></center>
                                            <ul class="movie_option">
                                                <li class="quality">@ViewBag.filmDetail.quality</li>
                                            </ul><a href="/Watch/Watch/@ViewBag.filmDetail.filmID.Trim()/1" class="card__play" title="@ViewBag.filmDetail.nameFilm"><i class="card__play-icon fas fa-play"></i></a>
                                            <div class="watch-eps">
                                                <a class="watch-movie" href="/Watch/Watch/@ViewBag.filmDetail.filmID.Trim()/1" title="@ViewBag.filmDetail.nameFilm">
                                                    <i class=" fas fa-video"></i>
                                                    Xem phim
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col l-8">
                                        <div class="card__content">
                                            <ul class="card__meta">
                                                <li><span>Tên gốc:</span><a href="#" title="@ViewBag.filmDetail.nameFilm">@ViewBag.filmDetail.nameEngFilm</a></li>
                                                <i class="imdb">IMDb 7.5</i>
                                                <li><span>Thể loại:</span><a href="#">@ViewBag.filmDetail.genre</a></li>
                                                <li><span>Số tập:</span> @ViewBag.filmDetail.releasedEpisodes/@ViewBag.filmDetail.totalEpisodes Tập</li>
                                                <li><span>Quốc gia:</span><a href="#">@ViewBag.filmDetail.nation</a></li>
                                                <li><span>Đạo diễn:</span><a href="#"> @ViewBag.filmDetail.director</a></li>
                                                <li><span>Diễn viên:</span><a href="#"> @ViewBag.filmDetail.actor</a></li>
                                                <li>
                                                    <div class="rate_wrap" style="display: flex; justify-content: center; align-items: center; flex-wrap: nowrap;">
                                                        <div>
                                                            <span>Đánh giá phim:</span>
                                                        </div>
                                                        <div class="rating-content">
                                                            <div id="rating">
                                                                <ul class="rate-area">
                                                                    <input type="radio" id="5-star" name="crating" value="5">
                                                                    <label for="5-star" title="Amazing">5 stars</label>
                                                                    <input type="radio" id="4-star" name="crating" value="4">
                                                                    <label for="4-star" title="Good">4 stars</label>
                                                                    <input type="radio" id="3-star" name="crating" value="3">
                                                                    <label for="3-star" title="Average">3 stars</label>
                                                                    <input type="radio" id="2-star" name="crating" value="2">
                                                                    <label for="2-star" title="Not Good">2 stars</label>
                                                                    <input type="radio" id="1-star" required="" name="crating" value="1" aria-required="true">
                                                                    <label for="1-star" title="Bad">1 star</label>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>




                        <div class="col l-12 trailer">
                            <div class="video_trailer">
                                @Html.Raw(@ViewBag.filmDetail.linkTrailer)
                            </div>
                        </div>
                    </div>

                    <!-- </div> -->

                </div>
                <div class="col l-4">
                    <div class="tab_popular">
                        <div class="widget-title">
                            <span>NỔI BẬT</span>
                        </div>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="day-list" role="tabpanel" aria-labelledby="1-tab">

                                <!-- foreach -->
                                @foreach (var itemFilm in ViewBag.listfilmDescendingbyCreateDate)
                                {
                                    <div class="row no-gutters">
                                        <div class="col l-4">
                                            <div class="card__cover"><img src="@itemFilm.linkImgAvt" class="lazy" alt="@itemFilm.nameFilm - @itemFilm.nameEngFilm" style=""><a href="#" class="card__play card__play--small" title="Ở Rể"><i class="fas fa-play"></i></a></div>
                                        </div>
                                        <div class="col l-8">
                                            <div class="card__content">
                                                <a href="/Watch/@ViewBag.filmDetail.nameFilm" title="@itemFilm.nameFilm">
                                                    <p class="movie_title">@itemFilm.nameFilm</p><span class="original_title">@itemFilm.nameEngFilm</span>
                                                    <div class="popup"><i class="imdb">IMDb @itemFilm.imdb</i></div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                }


                                <!-- #end -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col l-12">
                    <h2 class="section__title section__title--no-margin">@ViewBag.filmDetail.nameFilm - @ViewBag.filmDetail.nameEngFilm </h2>
                </div>
                <div class="col-12">

                    <div class="card card--details">
                        <div class="card__content">
                            <div class="card__description entry-content">
                                <p>
                                    <strong>@ViewBag.filmDetail.nameFilm</strong> - <strong>@ViewBag.filmDetail.nameEngFilm </strong>
                                    @ViewBag.filmDetail.contentText
                                </p>
                                <p><img src="@ViewBag.filmDetail.linkImgDes" alt="@ViewBag.filmDetail.nameFilm" class="page_speed_1792247499 lazy" style="zoom: 1.6;"></p>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>



<section class="content">
    <div class="content__head">
        <div class="grid wide">
            <div class="row">
                <div class="col l-12">
                    <h3 class="content__title">Để lại đánh giá của bạn</h3>
                    <ul class="nav nav-tabs content__tabs" id="content__tabs" role="tablist">
                        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">Bình luận</a></li>

                    </ul>

                </div>
            </div>
        </div>
    </div>
    <div class="grid wide">
        <div class="row">
            <div class="col l-8">
                <div class="grid">
                    <div class="row">
                        <div class="col l-12">
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="1-tab">

                                    <div class="col l-12">
                                        <div class="comments">

                                            <div id="comment-form">
                                                <form action="#" class="form form-comment">
                                                    <div class="content-quote"></div><input type="hidden" name="check_login" value="0"><textarea name="content" required="" class="form__textarea" placeholder="Để lại bình luận của bạn"></textarea>
                                                    <button type="submit" class="form__btn">Gửi</button>
                                                </form>
                                            </div>



                                            <div class="comment-content">
                                                <div class="comments__list" id="comment-content">
                                                    @foreach (var item in ViewBag.FeedBackOfAcc)
                                                    {
                                                        <div class="comment" id="comment-32512">
                                                            <div class="comments__item">
                                                                <div class="comments__autor">
                                                                    <a href="https://galaphim.net/profile/30488">
                                                                        <img class="comments__avatar" src="https://lh3.googleusercontent.com/a-/AOh14GgFqN_enMc41tuvAe1KSCsl1pJA4k3nwR0q38Xh=s96-c" alt="Maria sajah">
                                                                        <span class="comments__name">@item.username</span>
                                                                    </a>
                                                                    <span class="comments__time">@item.sentDate</span>
                                                                </div>
                                                                <div class="comments__text">
                                                                    <div class="content_of_comment">
                                                                        @item.cmt
                                                                    </div>
                                                                </div>
                                                            </div>


                                                        </div>
                                                    }




                                                </div>
                                                <div class="see-more-comments"></div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
            <div class="col l-4">
                <div class="row">
                    <div class="col l-12">
                        <h3 class="section__title section__title--sidebar">Có thể bạn thích...</h3>
                    </div>
                    <div class="col l-6">
                        <div class="card">
                            <div class="card__cover" href="#">
                                <img class="card__cover-img"
                                     src="~/Content/assets/img/phimmoinhat/than-ai-chi-ai-mat-that-vay-ca-loi.medium.webp"
                                     alt="" />
                                <a href="#" class="card__play">
                                    <i class="card__play-icon fas fa-play"></i>
                                </a>
                                <div class="movie_option">
                                    <span class="movie_option__text">FullHD</span>
                                </div>
                                <div class="runtime">
                                    <span class="runtime__text">24/40 Tập</span>
                                </div>
                            </div>

                            <div class="card__content--s">
                                <h5 class="card__content-title">
                                    <a href="#"
                                       class="card__content-title-link"
                                       title="Xem phim Thân Ái Chí Ái - Cá Mực Hầm Mật (Phần 2) - AppleDog's Time">Thân Ái Chí Ái - Cá Mực Hầm Mật (Phần 2)</a>
                                </h5>
                                <span class="card__content-title-origin">AppleDog's Time</span>
                            </div>
                        </div>
                    </div>
                    <div class="col l-6">
                        <div class="card">
                            <div class="card__cover" href="#">
                                <img class="card__cover-img"
                                     src="~/Content/assets/img/phimmoinhat/than-ai-chi-ai-mat-that-vay-ca-loi.medium.webp"
                                     alt="" />
                                <a href="#" class="card__play">
                                    <i class="card__play-icon fas fa-play"></i>
                                </a>
                                <div class="movie_option">
                                    <span class="movie_option__text">FullHD</span>
                                </div>
                                <div class="runtime">
                                    <span class="runtime__text">24/40 Tập</span>
                                </div>
                            </div>

                            <div class="card__content--s">
                                <h5 class="card__content-title">
                                    <a href="#"
                                       class="card__content-title-link"
                                       title="Xem phim Thân Ái Chí Ái - Cá Mực Hầm Mật (Phần 2) - AppleDog's Time">Thân Ái Chí Ái - Cá Mực Hầm Mật (Phần 2)</a>
                                </h5>
                                <span class="card__content-title-origin">AppleDog's Time</span>
                            </div>
                        </div>
                    </div>
                    <div class="col l-6">
                        <div class="card">
                            <div class="card__cover" href="#">
                                <img class="card__cover-img"
                                     src="~/Content/assets/img/phimmoinhat/than-ai-chi-ai-mat-that-vay-ca-loi.medium.webp"
                                     alt="" />
                                <a href="#" class="card__play">
                                    <i class="card__play-icon fas fa-play"></i>
                                </a>
                                <div class="movie_option">
                                    <span class="movie_option__text">FullHD</span>
                                </div>
                                <div class="runtime">
                                    <span class="runtime__text">24/40 Tập</span>
                                </div>
                            </div>

                            <div class="card__content--s">
                                <h5 class="card__content-title">
                                    <a href="#"
                                       class="card__content-title-link"
                                       title="Xem phim Thân Ái Chí Ái - Cá Mực Hầm Mật (Phần 2) - AppleDog's Time">Thân Ái Chí Ái - Cá Mực Hầm Mật (Phần 2)</a>
                                </h5>
                                <span class="card__content-title-origin">AppleDog's Time</span>
                            </div>
                        </div>
                    </div>
                    <div class="col l-6">
                        <div class="card">
                            <div class="card__cover" href="#">
                                <img class="card__cover-img"
                                     src="~/Content/assets/img/phimmoinhat/than-ai-chi-ai-mat-that-vay-ca-loi.medium.webp"
                                     alt="" />
                                <a href="#" class="card__play">
                                    <i class="card__play-icon fas fa-play"></i>
                                </a>
                                <div class="movie_option">
                                    <span class="movie_option__text">FullHD</span>
                                </div>
                                <div class="runtime">
                                    <span class="runtime__text">24/40 Tập</span>
                                </div>
                            </div>

                            <div class="card__content--s">
                                <h5 class="card__content-title">
                                    <a href="#"
                                       class="card__content-title-link"
                                       title="Xem phim Thân Ái Chí Ái - Cá Mực Hầm Mật (Phần 2) - AppleDog's Time">Thân Ái Chí Ái - Cá Mực Hầm Mật (Phần 2)</a>
                                </h5>
                                <span class="card__content-title-origin">AppleDog's Time</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>

